@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 34px;
}

/* IDのクリックを分かりやすく設定 */
#id {
    padding: 10px;
}

#id:hover {
    cursor: pointer;
    color: #fff;
    background: #4689FF;
}

/* ユーザー登録時、削除時、ユーザーの人数、ユーザーが誰もいないときのメッセージ強調 */
#announce {
   font-weight: bold; 
}

/* エラーメッセージの強調 */
#errors {
    font-weight: bold;
}

#errors ul li {
    list-style: none;
}